<!-- CTA -->

  <section class="bg-[#111827] text-white px-8 md:px-20 py-32">

    <div class="max-w-4xl">

      <p class="uppercase tracking-[0.3em] text-sm text-[#4ADE80] mb-6">
        Start Your Project
      </p>

      <h2 class="text-5xl md:text-7xl leading-tight font-light mb-10">
        Let’s Build
        Your Dream
        Workspace
      </h2>

      <a
        href="https://wa.me/6285121555659"
        target="_blank"
        class="inline-block bg-[#14532D] px-8 py-4 rounded-full hover:opacity-90 transition"
      >
        Book Consultation
      </a>

    </div>

  </section>